<!-- views/movies.ejs -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/script/script.js"></script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Note</th>
                <th>Année</th>
                <th>Détails</th>
                <th>Modifié</th>
                <th>Supprimé</th>
            </tr>
        </thead>
        <tbody>
            <% movies.forEach(movie=> { %>
                <tr>
                    <td>
                        <%= movie.title %>
                    </td>
                    <td>
                        <%= movie.rating %>
                    </td>
                    <td>
                        <%= movie.year %>
                    </td>
                    <td><a href="/movies/<%= movie.id %>">Voir détails</a></td>
                    <td><a href="/movies/<%= movie.id %>&modif"><button>Modifié</button></a></td>
                    <td><button onclick="deleteMovie('<%= movie.id %>')">Supprimer</button></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/movies/creationFilm"><button>Ajout d'un film</button></a>
</body>

</html>